# IntelliJ
.idea/
*.iml

# Maven
target/

# Logs
logs/
*.log

# Environment
.env

# Node
node_modules/

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies

# OS
.DS_Store
Thumbs.db

# Build
dist/
build/

# Docker
*.pid
