# =========================
# Sensitive Spring configs
# =========================

**/application.yml
**/application.properties
**/application-*.yml
**/application-*.properties

# =========================
# Environment files
# =========================

.env
.env.*
*.env

# =========================
# Allow safe example files
# =========================

!**/*.example.yml
!**/*.example.properties
!.env.example